.question {
    width: 100%;
}

.question-container {
    width: 70%;
    display: block;
    margin: 2rem auto;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.q-top {
    text-align: center;
}

.q-top h1 {
    font-weight: 600;
    
}
.q-top p {
font-size: 15px;
color: rgb(93, 92, 92);
}

.q-bottom{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.8rem 3rem;
}

hr{
    border-bottom: 1px solid gray;
    width: 100%;
}

.q-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.q-box h3{
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 0.5rem;
}
.q-bottom p{
    font-weight: 400;
    font-size: 14px;
}