.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    width: 90%;
    height: 95%;
    display: flex;
}

.l-left {
    flex: 1;
    background-image: url("../../images/login.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.l-right {
    flex: 0.8;
    display: flex;
    padding: 2rem;
    justify-content: center;
    flex-direction: column;
}


.l-right .welcome {
    color: rgb(123, 124, 125);
    font-size: larger;
    width: 70%;

}

form {
    width: 75%;
    padding: 2rem 0;
    border-radius: 6px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

label {
    font-size: 16px;
}

.inputs input {
    padding: 0.6rem 1rem;
    border-radius: 6px;

}

form button {
    padding: 0.6rem;
    font-size: 16px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

form button:hover {
    background-color: rgb(0, 172, 54);
}




@media screen and (max-width : 1080px) {
    .login form {
        width: 100%;
    }

    .welcome {
        width: 80%;
    }
}

@media screen and (max-width : 780px) {
    .login-container {
        justify-content: center;
    }

    .login form {
        width: 80%;
    }

    .l-left {
        display: none;
    }
}

@media screen and (max-width : 480px) {

    .login form {
        width: 90%;
    }

    .welcome {
        font-size: 14px;
    }

    .l-left {
        display: none;
    }
}