.project {
    padding: 3rem 0;
    width: 80%;
    display: block;
    margin: auto;
    overflow: hidden;
}

.project-container {
    display: flex;
    gap: 2rem;
}

.project-left {
    width: 100%;
    flex: 1.5;
}

.project-left img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 8px;
}

.project-right {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.donated-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}


.user-profile {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.project-btns {
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
}

.project-btns button {
    padding: 0.5rem 2rem;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.project-right input {
    padding: 0.5rem;
    border-radius: 4px;
}

.number {
    width: 80px;
}

@media screen and (max-width : 780px) {
    .project-container {
        flex-direction: column;
    }

    .project-left img {
        height: 50vh;
    }

}