.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register span {
    margin-bottom: 1rem;
    font-size: larger;
}

.register form {
    width: 35%;
    border: 1px solid gray;
    padding: 2rem;
    border-radius: 6px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

label {
    font-size: 16px;
}

.inputs input {
    padding: 0.6rem 1rem;
    border-radius: 6px;
}

.first-name {
    display: flex;
    gap: 0.3rem;
}

form button {
    padding: 0.6rem;
    background-color: rgb(0, 113, 93);
    font-size: 16px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

form button:hover {
    background-color: rgb(15, 153, 203);
}

.register>button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 0.5rem 1rem;
    background-color: orange;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width : 780px) {
    .register form {
        width: 60%;
    }

    .first-name {
        flex-direction: column;
    }
}