.add-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 88vh;
    gap: 2rem;
    background-image: url("https://assets-global.website-files.com/631a055b48333a67ada1d331/6323a86ded51675451b27835_offices-section-bg-pattern-softech-webflow-ecommerce-template.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.add-left{
    width: 100%;
    height: 100%;
    background-image: url("https://assets-global.website-files.com/631a055b48333a67ada1d331/633325cb10329a9f498c004a_about-hero-image-softech-webflow-ecommerce-template.png");
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
}

.add-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.add-right form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    gap: 1rem;
    width: 90%;
}

.add-inputs input,
textarea {
    width: 100%;
    border-radius: 4px;
    padding: 0.4rem 0 0.4rem 0.2rem;

}

.add-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.add-goal {
    display: flex;
    gap: 2rem;
}


@media screen and (max-width : 780px) {
    .add-project form{
        width: 80%;
    }

    .add-left{
        display: none;
    }
}