nav {
    background-color: #F9F4E8;
    position: sticky;
    top: 0;
    z-index: 99;
    color: black;
}

.nav-container {
    height: 8vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    cursor: pointer;
    font-size: 30px;
}

.logo span {
    color: rgb(0, 113, 93);
}



.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}


.add-btns {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.add-btns button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: rgb(0, 113, 93);
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.profile {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50%;color: white;
    background-color: rgb(0, 113, 93);
}

.profile-menu {
    position: absolute;
    width: 200px;
    top: 35px;
    right: 15px;
    background-color: rgb(0, 113, 93);
    color: white;
    border-radius: 8px;
}

.profile-menu ul {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    padding: 1.5rem;
    transition: 0.5s ease;
}

.profile-menu ul li {
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
}

.profile-menu ul :hover {
    background-color: rgb(17, 198, 165);
    border-radius: 6px;
}

@media screen and (max-width : 780px) {
    nav {
        padding: 0.5rem
    }

    .logo {
        font-size: 18px;
    }

    .nav-right button {
        padding: 0.4rem;
        font-size: 14px;
    }

    .nav-right span {
        font-size: 16px;
    }
}