.donations {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
}

td,
th {
    border: 1px solid gray;
    padding: 1rem 2rem;
    color: rgb(250, 244, 244);
    color: #000;
}

table {
    width: 100%;
}

@media screen and (max-width : 780px) {
    td, th {
        padding: 0.5rem 1rem;
    }
}