.donations {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

td,
th {
    border: 1px solid gray;
    padding: 1rem 2rem;
    color: rgb(250, 244, 244);
    text-align: center;
}

table {
    width: 100%;
}