.profile-page{
  width: 75%;
  margin: auto;
}

.profile-card {
  display: block;
  width: 30%;
  margin: 2rem auto;
  border: 1px solid gray;
  border-radius: 6px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 2rem 1rem;
  position: relative;
}

.names {
  display: flex;
  gap: 1rem;
}

.edit {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: x-large;
  cursor: pointer;
}

.profile-card img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}


.names input {
  padding: 0.4rem;
  border-radius: 4px;
  background-color: transparent;
  color: black;
  border: 1px solid gray;
}

.filters {
  display: flex;
}

.update {
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  background-color: darkcyan;
  color: white;
  transition: all 0.3s ease;
}

.update:hover {
  background-color: rgb(48, 169, 169);
}

.btn {
  cursor: pointer;
  background-color: darkcyan;
  color: white;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: rgb(48, 169, 169);
}


@media screen and (max-width: 992px) {
  .profile-card {
    width: 60%;
  }

  .profile-page{
    width: 100%;
  }
}
@media screen and (max-width: 780px) {
  .profile-card {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .profile-card {
    width: 80%;
  }
}