.footer {
    border-top: 1px solid gray;
    padding-bottom: 2rem;
    background: rgb(0, 113, 93);
    color: white;
}

.footer-container {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-list ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.logo {
    text-align: center;
    margin: 2rem;
}

.footer-list ul li {
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.footer-list ul li:hover {
    color: tomato;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

@media screen and (max-width: 480px) {
    .footer-list ul li {
        font-size: 12px;
    }

    .heading {
        font-size: 14px;
    }
}