.mission {
    width: 100%;
    min-height: 100vh;
}

.mission-container {
    width: 70%;
    display: block;
    margin: 3rem auto;
}

.mission-container>h1 {
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    width: 50%;
    align-items: center;
}

.mission-container>p {
    margin: auto;
    text-align: center;
    font-size: 1rem;
    width: 50%;
    align-items: center;
}

.mission-box-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
    margin-top: 2rem;
}

.mission-boxes {
    display: flex;
    padding: 1.2rem;
    flex-direction: column;
    gap: 1.5rem;
    width: 320px;
    height: 30vh;
    transition: all 0.4s ease;
    border-radius: 10px;
}

.mission-boxes:hover {
    background: rgb(0, 113, 93);
    color: white;
}

.mission-boxes h2 {
    font-weight: 600;
}

.box-icon {
    padding: 0.2rem 0.8rem;
    font-size: 20px;
    background-color: #D9EAE7;
    width: fit-content;
    color: rgb(0, 113, 93);
    border-radius: 5px;
}

@media screen and (max-width:1080px) {
    .mission-container>h1 {
        font-size: 2.2rem;
        width: 70%;
    }

    .mission-container>p {
        font-size: 1rem;
        width: 70%;
    }
}
@media screen and (max-width:780px) {
    .mission-container>h1 {
        font-size: 1.6rem;
        width: 100%;
    }

    .mission-container>p {
        font-size: 0.8rem;
        width: 100%;
    }
}