body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: rgb(13, 13, 53);
  color: white;
}
*{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  object-fit: cover;
}
h1,
h2,
h3,
h4,p {
  padding: 0;
  margin: 0;
}

.link{
  color: white;
  text-decoration: none;
}
ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  display: none;
}